#ButtonOnTop {
  position: fixed;
  right: 40px;
  bottom: 30px;
  border: 2px solid #212121;
  border-radius: 5px;
  background-color: #00e676;
  -webkit-transform: rotate(23deg);
          transform: rotate(23deg);
}

.flag {
  width: 30px;
  height: 30px;
}

h1 h2 h3 h4 h5 h6 p {
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

footer {
  font-family: "fantasy";
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  src: url("fonts/roboto.ttf");
}

body {
  background: -webkit-gradient(linear, left bottom, left top, from(#1d976c), to(#b9dbc5));
  background: linear-gradient(0deg, #1d976c, #b9dbc5);
}

.lang-btn:hover {
  -webkit-box-shadow: inset 0 0 0 3px #3cb472;
          box-shadow: inset 0 0 0 3px #3cb472;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

hr {
  width: 87%;
  height: 12px;
  color: #263238;
  border: solid;
  border-radius: 100;
  background-color: #263238;
}

.full-card-info h5 {
  color: #00e676;
}

.full-card-info p {
  color: white;
}

.full-card-info .first-part {
  background-color: #212121;
}

.full-card-info .second-part {
  background-color: #263238;
}

.title {
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  border-radius: 20px;
  background-color: gray;
}

.title h2 {
  text-align: center;
  color: #00e676;
}

.title p {
  text-align: center;
  color: white;
}

.second-title {
  text-align: center;
  overflow: hidden;
  opacity: 0.8;
  border-radius: 20px;
  background-color: gray;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.second-title h1 {
  text-align: center;
  text-shadow: #13f858 0px 0 5px;
  color: #b1f8d6;
}

.comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  float: left;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  float: right;
}

.social img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top {
  height: 35%;
  width: 35%;
}

.nav-link:hover {
  -webkit-box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93;
          box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #53ea93;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dropdown-menu {
  -webkit-box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #212121;
          box-shadow: 1px 1px #53ea93, 2px 2px #53ea93, 3px 3px #53ea93, 4px 4px #53ea93, 5px 5px #53ea93, 6px 6px #53ea93, 7px 7px #212121;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-contact:hover {
  -webkit-box-shadow: 0 0 0 3px #263238;
          box-shadow: 0 0 0 3px #263238;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

input:hover {
  -webkit-box-shadow: 0 0 0 3px #3cb472;
          box-shadow: 0 0 0 3px #3cb472;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

textarea:hover {
  -webkit-box-shadow: 0 0 0 3px #3cb472;
          box-shadow: 0 0 0 3px #3cb472;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*# sourceMappingURL=main.css.map */