.selector-for-some-widget {
  box-sizing: content-box;
}
footer {
  flex: 0 0 auto;
  background-color: hotpink;
}
body {
  background :linear-gradient(45deg, #3cb371, #C5DDE8);
}
h3 {
  color: #00e676;
}
.img_carusel {
  width: 100%;
  height: 80%;
}
.container-lg-4 {
  margin: 20px;
}
h2{ /*Bruh. Here is error*/
  color: white;
  font-family: 'fantasy';
  src:url('fonts/roboto.ttf');
}