@import "variables";

#ButtonOnTop {
    z-index: 1;
    position: fixed;
    right: 40px;
    bottom: 30px;
    border: 2px solid $light-second-color;
    border-radius: 5px;
    background-color: $title-text;
    transform: rotate(23deg);
}

.flag {
    width: 30px;
    height: 30px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Oswald", sans-serif;
    font-size: medium;
}

footer {
    font-family: "fantasy";
    color: $cummon-text;
    flex: 0 0 auto;
    src: url("fonts/roboto.ttf");
}

body {
    background: linear-gradient(0deg, #1d976c, #b9dbc5);
}

.lang-btn:hover {
    box-shadow: inset 0 0 0 3px $primer-color;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

hr {
    width: 87%;
    height: 12px;
    color: $second-color;
    border: solid;
    border-radius: 100;
    background-color: $second-color;
}

.full-card-info {
    h5 {
        color: $title-text;
    }

    p {
        color: $cummon-text;
    }

    .first-part {
        background-color: $light-second-color;
    }

    .second-part {
        background-color: $second-color;
    }
}

.title {
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    border-radius: 20px;
    background-color: gray;

    h2 {
        text-align: center;
        color: $title-text;
    }

    p {
        text-align: center;
        color: $cummon-text;
    }
}

.second-title {
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    border-radius: 20px;
    background-color: gray;
    opacity: 0.9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%;

    h1 {
        text-align: center;
        text-shadow: #13f858 0px 0 5px;
        color: #b1f8d6;
    }
}

.social {
    img {
        width: 35px;
        height: 35px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-img-top {
    height: 35%;
    width: 35%;
}

.nav-link:hover {
    box-shadow:
        1px 1px #53ea93,
        2px 2px #53ea93,
        3px 3px #53ea93,
        4px 4px #53ea93,
        5px 5px #53ea93,
        6px 6px #53ea93,
        7px 7px #53ea93;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dropdown-menu {
    box-shadow:
        1px 1px #53ea93,
        2px 2px #53ea93,
        3px 3px #53ea93,
        4px 4px #53ea93,
        5px 5px #53ea93,
        6px 6px #53ea93,
        7px 7px $light-second-color;
    -webkit-transform: translateX(-7px);
    transform: translateX(-7px);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-contact:hover {
    box-shadow: 0 0 0 3px $second-color;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input:hover {
    box-shadow: 0 0 0 3px $primer-color;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

textarea:hover {
    box-shadow: 0 0 0 3px $primer-color;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}