$primer-color: #3cb371;
$second-color: #343a40;
$light-second-color: #2b2d30;
$down: #1b7255;
$cummon-text: white;
$title-text: #00e676;

h1 h2 h3 h4 h5 h6 p {
  font-family: "Oswald", sans-serif;
  font-size: medium;
}

.selector-for-some-widget {
  box-sizing: content-box;
}
footer {
  font-family: "fantasy";

  color: $cummon-text;
  background-color: $down;

  flex: 0 0 auto;
  src: url("fonts/roboto.ttf");
}
body {
  background: linear-gradient(45deg, $primer-color, #c5dde8);
}
.carousel-inner {
  img {
    width: 100%;
    height: 80%;
  }
  .carousel-caption {
    opacity: 0.8;
    border-radius: 20px;
    background-color: gray;
    h3 {
      opacity: 1;
      color: $title-text;
    }
  }
}
.container-lg-4 {
  margin: 20px;
}
.row {
  //background-color: $second-color;
  h2 {
    font-family: "fantasy";

    color: $cummon-text;

    src: url("fonts/roboto.ttf");
  }
  h3 {
    text-align: center;

    color: $title-text;
    border-top: $cummon-text;
  }
  p {
    color: $cummon-text;
  }
  img {
    width: 70px;
    height: 70px;
    margin: 10px;
  }
}
hr {
  width: 87%;
  height: 12px;

  color: $second-color;
  border: solid;
  border-radius: 100;
  background-color: $second-color;
}
.full-card-info {
  .first-part {
    background-color: $light-second-color;
  }
  .second-part {
    background-color: $second-color;
    h5 {
      color: $title-text;
    }
    p {
      color: $cummon-text;
    }
    a {
      border-color: $title-text;
      background-color: $primer-color;
    }
  }
}
.first {
  background-color: $second-color;
}
.second {
  background-color: $light-second-color;
}
.title {
  opacity: 0.8;
  border-radius: 20px;
  background-color: gray;
  h2 {
    text-align: center;

    color: $title-text;
  }
  p {
    text-align: center;

    color: $cummon-text;
  }
}
